* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 16px;
  font-weight: 700;
}

.calculator {
  display: flex;
  flex-direction: column;
  margin: 10em auto;
  padding: 2em;
  width: 360px;
  border-radius: 10px;
  background-color: #333;
}

.calculator-screen {
  margin-bottom: 1em;
  padding: 2em 1em;
  border-radius: 5px;
  background-color: rgb(110, 110, 110);
  color: #fff;
  text-align: right;
}

.calculator-btns {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.55em;
}

button {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  padding: 1.5em;
  border: #333;
  border-radius: 50%;
  background-color: rgb(153, 153, 153);
  color: #fff;
  transition: background-color 0.2s;
}

#equals {
  grid-column: 3 / 5;
  border-radius: 25px;
}

button:hover {
  background-color: #deb887;
  transform: translateY(-0.1em);
}

.operator:hover {
  background-color: #add8e6;
}

#equals:hover {
  background-color: #32cd32;
}

#all-clear:hover,
#backspace:hover {
  background-color: #dc143c;
}

.active-digit {
  background-color: #deb887;
}

.active-operator {
  background-color: #add8e6;
}

.active-equals {
  background-color: #32cd32;
}

.active-delete {
  background-color: #dc143c;
}